

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left,red,yellow);
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-container p{
    color: darkblue;
}

.game-container span{
    color: brown;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.guess {
    margin: 10px 0;
    display: none; /* Hide the message initially */
}

.chance {
    font-size: 14px;
    color: #555;
}
